<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <!--<li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>Free Shipping</h5>
                    <span>On order over $99</span>
                </div>
            </li>-->
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>Suporte.</h5>
                    <span>Chat Online ou Chamada.</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>Pagamentos Online</h5>
                    <span>Serviços seguro de pagamentos</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>Retorno Fácil.</h5>
                    <span>Apostas sem complicações.</span>
                </div>
            </li>
        </ul>
    </div>
</section>