<!--<div class="topbar topbar-expand-lg topbar-dark bg-danger" style="background-color: #B71D1D;"></div>-->
<div class="topbar topbar-expand-lg " style="background-color: #B71D1D;">
    <div class="container">
        <div class="row align-items-center">
            <!--<div class="col-lg-4 col-md-4 col-12">
                <div class="top-left">
                    <ul class="menu-top-link">
                        <li>
                            <div class="select-position">
                                <select id="select5">
                                    <option value="0" selected>$ BRL</option>
                                    <option value="1">$ USD</option>
                                    <option value="2">€ EURO</option>
                                    <option value="3">$ CAD</option>
                                    <option value="4">₹ INR</option>
                                    <option value="5">¥ CNY</option>
                                    <option value="6">৳ BDT</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="select-position ">
                                <select id="select6">
                                    <option value="0" selected>Português</option>
                                    <option value="1">English</option>
                                    <option value="2">Español</option>
                                    <option value="3">Filipino</option>
                                    <option value="4">Français</option>
                                    <option value="5">العربية</option>
                                    <option value="6">हिन्दी</option>
                                    <option value="7">বাংলা</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-4 col-12">
                <div class="top-middle">
                    <ul class="useful-links">
                        <li><a href="index.html">Início</a></li>
                        <li><a href="about-us.html">Sobre</a></li>
                        <li><a href="contact.html">Contato</a></li>
                    </ul>
                </div>
            </div>-->
            <div class="col-lg-4 col-md-4 col-12">
                <div class="top-end">
                    <div class="user">
                        <i class="lni lni-user"></i>
                        Bem vindo
                    </div>
                    <ul class="user-login">
                        <li>
                            <a href="login.html">Entrar</a>
                        </li>
                        <li>
                            <a href="register.html">Registrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
