<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        <!-- Start Single Slider -->
                        <div class="single-slider"
                             style="background-image: url(assets/images/hero/logo.jpg);background-size: 100%;">
                            <!--<div class="content">
                                <h2><span>No restocking fee ($35 savings)</span>
                                    M75 Sport Watch
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <h3><span>Now Only</span> $320.99</h3>
                                <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>
                            </div>-->
                        </div>
                        <!-- End Single Slider -->
                        <!-- Start Single Slider -->
                        <div class="single-slider"
                            style="background-image: url(assets/images/hero/logoconceito.jpg);background-size: 100%;">
                            <div class="text-right">
                                <h2>Babaçu da sorte.<br>
                                    Babaçu dá sorte.
                                </h2>
                                <div class="text-right">
                                <h5><br>O trevo de quatro folhas composto pelo coco <br>babaçu é a melhor representação do significado<br> da LOTEMA, 
                                    a Loteria do Maranhão. Ao<br>mesmo tempo em que representa a sorte para<br> os apostadores, representa a força do babaçu<br> 
                                    na economia do estado e na vida dos<br>maranhenses. </h5></div>
                               <!-- <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>-->
                            </div>
                        </div>
                        <!-- End Single Slider -->
                    </div>
                    <!-- End Hero Slider -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner"
                            style="background-image: url('assets/images/hero/logogov.png');background-size: 100%;">
                            <!--<div class="content">
                                <h2>
                                    <span>New line required</span>
                                    iPhone 12 Pro Max
                                </h2>
                                <h3>$259.99</h3>
                            </div>-->
                        </div>
                        <!-- End Small Banner -->
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>Aposte agora mesmo!</h2>
                                <p>Clique no botão abaixo e aposte</p>
                                <div class="button">
                                    <a class="btn" href="product-grids.html">Apostar</a>
                                </div>
                            </div>
                        </div>
                        <!-- Start Small Banner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>