<app-header></app-header>
  
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
  
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
  
    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Start Topbar -->

        <app-top-bar></app-top-bar>
        
        <!-- End Topbar -->
        <!-- Start Header Middle -->
        <app-header-middle></app-header-middle>
        <!-- End Header Middle -->
        <!-- Start Header Bottom -->
        <app-header-bottom></app-header-bottom>
        <!-- End Header Bottom -->
    </header>
    <!-- End Header Area -->
  
    <!-- Start Hero Area -->
    <app-hero-area></app-hero-area>
    <!-- End Hero Area -->
  
    <!-- Start Trending Product Area -->
    <app-trending-product-area></app-trending-product-area>
    <!-- End Trending Product Area -->
  
    <!-- Start Call Action Area -->
    <app-call-action-area></app-call-action-area>
    <!-- End Call Action Area -->
  
    <!-- Start Banner Area -->
    <app-banner-area></app-banner-area>
    <!-- End Banner Area -->
  
    <!-- Start Shipping Info -->
    <app-shipping-info></app-shipping-info>
    <!-- End Shipping Info -->
  
    <!-- Start Footer Area -->
    <app-footer-are></app-footer-are>
    <!--/ End Footer Area -->
  
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>
  
    <!-- ========================= JS here ========================= -->
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });
  
        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
  </body>
